body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.center-aligned-text {
  text-align: center
}


@import './pages/RegisterLogin/registerLogin';
@import './components/Header/header';
@import './components/HeroArea/heroArea';
@import './components/Body/body';
@import './components/Cards/cards';
@import './components/Footer/footer';
@import './components/AboutBody/aboutBody';