.doc-app__card {
  width: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 10px #ccc;
  padding: 1rem;
  transition: 0.3s ease-in-out;

  &:hover {
    scale: 1.02;
  }


  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-box {
      width: 100%;
      border-radius: 1.25rem;
      overflow: hidden;

      &.circle-center-image {
        width: 8rem;
        height: 8rem;
        box-shadow: 2px 2px 15px #afafaf;
        background-color: #007E85;
        border-radius: 50%;
        margin: 2rem auto;
        overflow: hidden;
      }
    }
  }

  &-title {
    color: #007E85;
    margin: 0;
    margin-top: 2rem;
  }

  &-subtitle {
    margin: 0.25rem;
    color: #777;
  }

  &-rating {
    color: #333;

    span {
      margin-left: 0.35rem;
      color: gold;
    }
  }

  &-desc {
    margin: 0;
    font-size: 0.75rem;
    color: #555;
    margin: 1rem 0;
  }

  &-learnMore {
    color: #007E85;
    font-weight: 600;
    margin-top: 0.75rem;
  }

  &-social {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
    justify-content: center;

    li {
      cursor: pointer;
    }
  }
}